<% if @products.blank? %>
  <h2> No products to display </h2>
  <% else %>
    <h2> List of Products </h2>
    <% @products.each do |product| %>
     <ul><li><p>
       <%= link_to product.title, product %>
       <% if current_user %>
       <%= link_to 'Edit',{ :action=>'edit',:id=>product.id } %>
       <%= link_to 'Delete', product, method: :delete, confirm: 'Are you sure?' %>
       <% end %>
     </p></li></ul>
  <% end %>
<% end %>

<% if current_user %>
<%= link_to 'Add Product', new_product_path %>
<% end %>
